@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .captcha,
  .captcha img {
    width: 100%;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: auto;
  background-color: #3F51B5;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 0.5em;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
