.show-more {
	position       : relative;
	border-bottom  : 1px solid #DDDDDD;
	border-top     : 1px solid #DDDDDD;
	display        : block;
	font-size      : 20px;
	padding        : 10px 0;
	text-align     : center;
	text-transform : uppercase;
	
	&.products-loading {
		span{
			font-size : 0;
			
			&::after, &::before {
				content          : "";
				position         : absolute;
				left             : 0;
				right            : 0;
				bottom           : 0;
				top              : 0;
				display          : block;
				margin           : auto;
				border           : 3px solid transparent;
				border-top-color : @brand-primary;
				.border-radius(50%);
			}
			
			&::after {
				animation : rotate 1.45s linear infinite;
				width     : 2rem;
				height    : 2rem;
				
			}
			
			&::before {
				animation : rotate 1.85s linear infinite;
				width     : 2.75rem;
				height    : 2.75rem;
			}
		}
	}
	
	.products-loaded {
	}
	
	span {
	}
}

// Products List
//==================================================
.product-item {
	.clearfix-mixin();
	
	&.grid {
	}
	
	&.list {
	}
	
	// General styles
	.product-image {
		float        : left;
		margin-right : 2%;
		width        : 150px;
		overflow     : hidden;
		
		img {
		}
	}
	
	.product-title {
		display     : block;
		margin      : 0 0 0.25em;
		font-size   : @font-size-large;
		font-family : @font-family-headings;
	}
	
	.product-description {
	}
	
	.product-price {
		font-weight : bold;
		font-size   : @font-size-large;
	}
	
	.tcart-add {
		.button();
		.user-select();
		.box-shadow(none; @input-shadow-focus);
	}
}

// Products List in SideBar
//==================================================
.sidebar {
	
	.product-item {
		
		.product-image {
			img {
			}
		}
		
		.product-title {
		}
		
		.product-description {
		}
		
		.product-price {
		}
		
		.tcart-add {
		}
	}
}

// Related Products
//==================================================
.related-products {
	li {
		.product-title {
		}
		
		.product-image {
			img {
			}
		}
		
		.product-description {
		}
		
		.product-price {
		}
		
		.tcart-add {
		}
		
	}
}
