.toaster-quote {
	.inline-block-wrap(@valign : top; @el : ~'>*'; @font-size : 16px;);
	// usual widget {$ quote : form}
	fieldset, & > p {
		padding : 0;
		.grid-elements(2; 2*@grid-margin-width; true; 1; 1);
		border  : none;
	}
	
	.mobile-desktop-phone-block {
		select {
			float : left;
		}
		
		input {
			width : 58.333%;
		}
		
		&:first-of-type {
			clear : left;
		}
	}
	
	dl, dt, dd {
		clear : both;
	}
	
	// quote form on the product page
	.product & {
		//fieldset, & > p{width : 100%;}
		//fieldset{margin : 0;}
		//& > p{margin : 0 0 15px 0;}
	}
	
	// quote form on the checkout page
	#checkout-widget & {
	}
	
	// quote form on the quote page
	.quote-info & {
	}
}

#send-quote {
	clear : both;
}

.quote-edit-input {
	width : auto;
}

// quote-info
//==================================================
.quote-info {
	margin-bottom : 2em;
	
	fieldset, & > p {
		width : 100%;
	}
	
	fieldset {
		margin  : 0;
		padding : 0;
		border  : none;
	}
	
	label:not(.checkbox_radio) {
		margin : 0.25em 0 0;
		float  : left;
		width  : 35%;
		
		&.optional[for='same-for-shipping'] {
			width        : auto;
			margin-top   : 0;
			margin-right : 5px;
		}
		
	}
	
	#sameForShippingGroup-label {
		display : none;
	}
	
	#overwrite-quote-user-billing-label,
	#overwrite-quote-user-shipping-label {
		label {
			width        : auto;
			margin-top   : 0;
			margin-right : 5px;
		}
	}
	
	input:not([type="checkbox"]),
	select {
		float : left;
		width : 65%;
	}
	
	.mobile-desktop-phone-block {
		width  : 100%;
		margin : 0 0 15px 0;
		
		select {
			width : 27% !important;
		}
		
		input {
			width : 38% !important;
		}
	}
}

.quote-title,
.quote-info .title {
	padding-bottom : 0.25em;
	margin-bottom  : 1em;
	font-size      : 1.5em;
	font-family    : @font-family-headings;
	font-weight    : 700;
	color          : @heading-color;
	border-bottom  : 3px solid @brand-primary;
}

// Quote
//==================================================
body {
	&.quote {
		font-size : 16px;
		
		header {
			//padding          : 0 2em;
			background-color : @brand-primary;
			
			.btn {
				padding : 1em 2em;
				.button-color(#fff; @brand-warning; @brand-warning);
			}
		}
		
		#content {
			padding : 4em 2em;
		}
		
		&.horizontal-bar {
		
		}
		
		.prepop-text {
			width         : 100px;
			border        : none;
			border-bottom : 2px solid #dadada;
			height        : 2em;
		}
	}
	
	.product-info-title- {
		td {
			
			border-bottom : 3px solid #68A126;
			font-family   : @font-family-headings;
			font-size     : 1.35em;
			font-weight   : 700;
			color         : #34495e;
		}
	}
}

.video-container {
	.title.h4 {
		display : none;
	}
}

.quote-logo {
	padding    : 4em 0;
	text-align : center;
}

.ui-menu {
	z-index : 55 !important;
}

#storeinfo {
	font-size : 1.25em;
	color     : #fff;
	padding   : 0 2em;
	
	h1 {
		color : inherit;
	}
	
	a {
		text-decoration : none;
		color           : inherit;
	}
	
}

.fixed-header {
	#storeinfo {
		position  : fixed;
		top       : 0;
		bottom    : 0;
		max-width : 24%;
		
		.bottom-msg {
			padding     : 1em;
			font-weight : 400;
			text-align  : center;
			position    : absolute;
			bottom      : 0;
			left        : 2em;
			right       : 2em;
			line-height : 1.75em;
		}
	}
}

.pdf-button {
	.btn {
		font-size : @font-size-small;
	}
	
	p {
		border         : 1px solid #fff;
		padding        : 1em;
		font-weight    : 400;
		letter-spacing : 1px;
		text-align     : center;
	}
}

#quote-details {
	input {
		text-align : center;
	}
}

.quote-details-date {
	font-weight : 600;
}

.dividing-line {
	margin           : 3em 0;
	border-top-style : dashed;
	border-top-width : 5px;
	border-top-color : @brand-primary;
}

#quote-payment-type-config-block {
	display                 : -ms-flexbox;
	display                 : -webkit-flex;
	display                 : flex;
	-ms-flex-direction      : row;
	flex-direction          : row;
	-webkit-flex-wrap       : wrap;
	-ms-flex-wrap           : wrap;
	flex-wrap               : wrap;
	-webkit-justify-content : space-between;
	-ms-flex-pack           : justify;
	justify-content         : space-between;
	-ms-flex-align          : center;
	align-items             : center;
	
	margin-bottom           : 2em;
	padding                 : 0 2em;
	background-color        : #F6F6F6;
	
	> * {
		-webkit-flex : 0 1 48%;
		-ms-flex     : 0 1 48%;
		flex         : 0 1 48%;
	}
}

#partial-payment-percentage {
	max-width : 20%;
}

.signature-required-block {
	display                 : -ms-flexbox;
	display                 : -webkit-flex;
	display                 : flex;
	-ms-flex-direction      : row-reverse;
	flex-direction          : row-reverse;
	-webkit-flex-wrap       : wrap;
	-ms-flex-wrap           : wrap;
	flex-wrap               : wrap;
	-webkit-justify-content : flex-end;
	-ms-flex-pack           : end;
	justify-content         : flex-end;
	
	margin                  : 3em 0;
	
	.checkbox_radio {
		margin-right : 0.5em;
	}
}

#quote-signature-block {
	position : relative;
	
	#quote-signature-form-refresh {
		position  : absolute;
		left      : 0;
		top       : 0;
		width     : 100% !important;
		max-width : 450px;
	}
	
	[type="submit"] {
		float : left;
	}
}

#signature-block {
	width            : 100% !important;
	max-width        : 450px;
	overflow         : hidden;
	margin-bottom    : 1em;
	border           : 2px dashed #e4e4e4;
	background-color : #F6F6F6;
}

#quote-signature-block {
	height : 100%;
	
	> span {
		display       : block;
		margin-bottom : 0.5em;
	}
	
	> div {
		padding          : 0.5em;
		text-align       : center;
		border           : 2px dashed #e4e4e4;
		background-color : #F6F6F6;
	}
}

.quote-type-info {
}

#quote-type-info-message {
	display          : block;
	padding          : 2em;
	font-size        : 1.5em;
	font-weight      : 700;
	background-color : #F6F6F6;
}

//quote-summary
#quote-summary {
}

.quote-summary-row {
	padding                 : 0.5em 0;
	display                 : -ms-flexbox;
	display                 : -webkit-flex;
	display                 : flex;
	-ms-flex-direction      : row;
	flex-direction          : row;
	-webkit-flex-wrap       : wrap;
	-ms-flex-wrap           : wrap;
	flex-wrap               : wrap;
	-webkit-justify-content : space-between;
	-ms-flex-pack           : justify;
	justify-content         : space-between;
	border-bottom           : 1px solid #e4e4e4;
	
	span {
		&:first-child {
			-webkit-flex : 0 1 50%;
			-ms-flex     : 0 1 50%;
			flex         : 0 1 50%;
			
			font-weight  : bold;
		}
	}
	
	input,
	select {
		width       : 50%;
		height      : unit(@line-height, em);
		line-height : @line-height;
		padding     : 0;
	}
	
	&.cart-total {
		font-weight : bold;
		font-size   : 1.1em;
	}
}

//Quote PDF
.quote-page {
	page-break-after : always;
	
	table tr:first-child > * {
		border : none;
	}
	
	table th,
	table td {
		border : none;
	}
}

.quote-page-1 {
	height             : 100vh;
	-ms-flex-line-pack : stretch;
	align-content      : stretch;
	-ms-flex-align     : stretch;
	align-items        : stretch;
	
	.quote-pdf-logo {
		position         : relative;
		padding          : 3em;
		color            : #fff;
		background-color : @brand-primary;
		
		h2 {
			font-size : 4em;
			color     : #fff;
		}
		
		img {
			display       : block;
			margin-bottom : 3em;
		}
		
		&::after,
		&::before {
			content  : '';
			position : absolute;
			
		}
		
		&::before {
			display    : block;
			left       : 0;
			top        : 3em;
			width      : 60%;
			border-top : 2px solid #fff;
		}
		
		&::after {
			display     : block;
			left        : 3em;
			top         : 0;
			height      : 40%;
			border-left : 2px solid #fff;
		}
	}
}

//===============quote-details=================
#quote-details {
	input {
		width : 100%;
	}
	
	span {
		color : #000;
	}
	
	.dates {
		margin-top    : 0;
		margin-bottom : 0;
	}
	
	.horizontal-bar & {
		font-size : 1.5em;
		
		span {
			color : #FFF;
		}
	}
}

// Quote admin-panel
//==================================================
#quoteControlls {
	height : 70px;
	
	.quote-controlls {
		bottom     : 0;
		left       : 0;
		padding    : 10px 0;
		position   : fixed;
		width      : 100%;
		z-index    : 10;
		text-align : center;
	}
	
	.quote-search {
		width     : 500px;
		padding   : 5px;
		font-size : 18px;
		color     : #666;
		border    : 1px solid #ddd;
	}
}

//body.quote {
//	font-size      : 16px;
//	padding-bottom : 55px;
//	.top-part {
//		padding    : 15px 0 0;
//		background : @brand-primary;
//	}
//	header {
//		font-size     : 1em;
//		margin-bottom : 1em;
//	}
//	.box {
//		margin-top    : 1em;
//		margin-bottom : 1em;
//		padding       : 1em;
//		border        : 1px solid @input-border-color;
//		&:empty {
//			display : none;
//		}
//		p {
//			&:empty {
//				display : none;
//			}
//			&:last-child {
//				margin-bottom : 0;
//			}
//		}
//	}
//	.quote-info {
//		float : none;
//		width : 100%;
//		margin-bottom: 0;
//	}
//	textarea.quote-disclaimer-text {
//		word-break : break-word;
//		height     : 200px;
//		width      : 100%;
//	}
//
//	.toaster-quote-content {
//		margin-bottom : 0;
//		thead {
//			th {
//				border-bottom : none;
//			}
//		}
//		td {
//			padding        : 15px 10px;
//			vertical-align : top;
//			&.product-note {
//				font-size : 0.85em;
//			}
//		}
//		tr {
//			&:last-child {
//				margin-bottom : 0;
//				td {
//					border-bottom  : none;
//					padding-bottom : 0;
//				}
//			}
//		}
//		.product-total {
//			font-weight : bold;
//		}
//		.product-info {
//			max-width : 230px;
//		}
//
//		.product-note {
//			text-align : left;
//			max-width  : 470px;
//			table {
//				width: 100% !important;
//			}
//		}
//
//	}
//	.toaster-checkout {
//		fieldset {
//			margin-bottom : 15px;
//		}
//	}
//	.toaster-quote {
//		#sameForShippingGroup-element {
//			margin-bottom : 1em;
//			width         : 100%;
//		}
//		& > * {
//			font-size : 16px;
//		}
//	}
//	table tr:first-child > * {
//		border-top : none;
//	}
//	.cart-summary-row,
//	.quote-summary-row,
//	.post-purchase-row {
//		margin        : 0;
//		padding       : 10px;
//		border-bottom : 1px solid @input-border-color;
//		&:last-child {
//			border-bottom  : none;
//			padding-bottom : 0;
//		}
//	}
//	.dates {
//		span {
//			font-weight    : bold;
//			text-transform : uppercase;
//		}
//	}
//	.quote-title {
//		font-weight    : bold;
//		text-transform : uppercase;
//	}
//	.middle-content, .bottom-content {
//		.box {
//			margin-top : 0;
//		}
//	}
//
//	.video-container {
//		h4.title {
//			font-size      : inherit;
//			font-weight    : bold;
//			color          : @heading-color;
//			border-bottom  : 1px solid @input-border-color;
//			padding-bottom : 10px;
//			margin-bottom  : 10px;
//		}
//		&:empty {
//			display : none;
//		}
//	}
//	.quote-expired-notification {
//		margin-bottom : 1em;
//		padding       : 1em;
//		.btn {
//			padding : 0.5em 1em;
//		}
//	}
//	#paypal_button {
//		margin-bottom : 15px;
//		padding       : 15px;
//		border        : 1px solid @input-border-color;
//		fieldset {
//			margin  : 0;
//			padding : 0;
//			border  : none;
//		}
//		legend {
//			width         : 100%;
//			padding       : 0 0 10px 0;
//			font-size     : inherit;
//			font-weight   : bold;
//			color         : @heading-color;
//			border-bottom : 1px solid @input-border-color;
//			margin-bottom : 10px;
//		}
//		.seo-tip {
//			margin-bottom : 0;
//			padding-right : 160px;
//		}
//	}
//	#paypalSubmit {
//		border  : none;
//		margin  : 0;
//		float   : right;
//		padding : 0;
//	}
//	@media only screen and (max-width : @responsive-size-desktop) and (min-width : @responsive-size-tablet) {
//		[class*=" grid_"], [class^="grid_"], [class*="-grid_"], [class*="_grid_"] {
//			float        : left;
//			position     : relative;
//			width        : 98%;
//			margin-left  : 1% !important;
//			margin-right : 1% !important;
//		}
//	}
//	@media only screen and (max-width : @responsive-size-tablet) {
//		padding-top : 0;
//		.toaster-quote-content .product-info {
//			padding-right: 25px;
//		}
//		.toaster-quote-content .product-info, .toaster-quote-content .product-note {
//			max-width: none;
//		}
//		.toaster-quote-content .product-note {
//			clear: both;
//		}
//	}
//}