{ifpages}
<span class="sub-menu-btn"></span>
{/ifpages}

<a {$page:target_blank} {$page:not_clickable} title="{$page:h1}">{$page:navName}</a>

{submenu}
<a {$page:target_blank} class="page-title" {$page:not_clickable} title="{$page:h1}">{$page:navName}</a>
{/submenu}