<!-- SCRIPTS ZONE -->
<!-- <script src="js/scripts.min.js"></script> -->
<script src="js/system/flexkit.min.js"></script>
<!--
<script>
    //coooookies top bar
    $(function(){
        function showPopup() {
            if ($.cookie('popup'))
                return;
            $('#cookie-info').show();
        }
        $('#cookie-info a.more, #cookie-info .btn').click(function(){

            $('#cookie-info').hide();
            $.cookie('popup', true, {'expires': 100});
            return true;
        });
        showPopup();
    });
</script>
 -->
<!-- smtp -->
{$plugin:smtpverification:verify}