//	Search form
//==================================================
#search-form when (@widget-search){
    p{
        float  : left;
        width  : 30%;
        margin : 0;

        &:first-child{
            width : 70%;
        }

    }

    input{
    }
    
    [type="text"] {
        padding-right : 1.5em;
        border-color  : @brand-primary;
    }
    
    [type="submit"] {
        width         : 100%;
        padding-left  : 0;
        padding-right : 0;
        margin        : 0;
        font-size     : 1em;
    }
    .search-block-element {
        position : relative;
    }
    .clear-input {
        cursor      : pointer;
        position    : absolute;
        top         : 50%;
        right       : 1%;
        line-height : 1;
        font-size   : 0.85em;
        .translate(0, -50%);
    }
}