.ui-dialog when (@componentsJS-dialog) {
    position         : absolute;
    z-index          : 100;
    padding          : 0;
    border-width     : @dialog-border-width;
    border-style     : solid;
    border-color     : @dialog-border-color;
    background-color : @dialog-bg;
    max-width        : 90%;
    color            : inherit;
    .box-shadow(4px 4px 4px @gray-darker);

    .ui-effects-wrapper & {
        max-width : none;
    }

    &.fixed {
        position : fixed !important;
        top      : 50% !important;
        left     : 50% !important;
        .translate(-50%);
    }

    // Title bar
    .ui-dialog-titlebar {
        font-size   : @font-size-large;
        background  : @dialog-header-bg;
        color       : @dialog-header-color;
        padding     : @padding-large-vertical @padding-large-horizontal;
        position    : relative;
        line-height : @line-height;
    }

    &.ui-draggable {
        .ui-dialog-titlebar {
            cursor : move;
        }
    }

    .ui-dialog-title {
        display      : block;
        margin-right : 10px;
    }

    .ui-dialog-titlebar-close {
        position   : absolute;
        top        : 0;
        bottom     : 0;
        right      : 0;
        border     : none;
        margin     : auto;
        padding    : @padding-large-vertical;
        background : transparent;
        .link-color(@dialog-header-color; @brand-error);
        .box-sizing(content-box);
        .icon-size(@icon-size-base; true);

        &::before {
            .flexkit-icon();
            content : "\e099";
        }

        .ui-icon-closethick {
        }

        .ui-button-text {
            display : none;
        }
    }

    // Content
    .ui-dialog-content {
        position : relative;
        border   : 0;
        padding  : @padding-large-vertical @padding-large-horizontal;
        & when not(@dialog-content-bg = transparent) {
            background : @dialog-content-bg;
        }
        overflow : auto;

        &.visible {
            overflow : visible;
        }
    }

    // Buttons
    .ui-dialog-buttonpane {
        overflow         : hidden;
        text-align       : left;
        border-width     : 1px 0 0 0;
        background-image : none;
        padding          : @padding-base-vertical @padding-large-horizontal;

        .ui-dialog-buttonset {
            float : right;
        }

        .ui-dialog-buttonpane button {
            margin : .5em .4em .5em 0;
            cursor : pointer;
        }
    }

    //For resizable style
    .ui-resizable-handle {
        position  : absolute;
        font-size : 0.1px;
        display   : block;
    }
    .ui-resizable-n {
        cursor : n-resize;
        height : 7px;
        width  : 100%;
        top    : -5px;
        left   : 0;
    }
    .ui-resizable-e {
        cursor : e-resize;
        width  : 7px;
        right  : -5px;
        top    : 0;
        height : 100%;
    }
    .ui-resizable-s {
        cursor : s-resize;
        height : 7px;
        width  : 100%;
        bottom : -5px;
        left   : 0;
    }
    .ui-resizable-w {
        cursor : w-resize;
        width  : 7px;
        left   : -5px;
        top    : 0;
        height : 100%;
    }
    .ui-resizable-se {
        cursor : se-resize;;
        width  : 12px;
        height : 12px;
        right  : -5px;
        bottom : -5px;
    }
    .ui-resizable-sw {
        cursor : sw-resize;
        width  : 9px;
        height : 9px;
        left   : -5px;
        bottom : -5px;
    }
    .ui-resizable-ne {
        cursor : ne-resize;
        width  : 9px;
        height : 9px;
        right  : -5px;
        top    : -5px;
    }
    .ui-resizable-nw {
        cursor : nw-resize;
        width  : 9px;
        height : 9px;
        left   : -5px;
        top    : -5px;
    }

    // Alternate colors
    // -------------------------
    &.success, &.warning, &.error, &.info {
        & when (@dialog-colors) {
            .ui-dialog-titlebar {
                color : #fff;
            }
        }
    }
    &.success when (@dialog-color-success) and (@dialog-colors) {
        border-color : @brand-success;

        .ui-dialog-titlebar {
            background : @brand-success;
        }
    }
    &.warning when (@dialog-color-warning) and (@dialog-colors) {
        border-color : @brand-warning;

        .ui-dialog-titlebar {
            background : @brand-warning;
        }
    }
    &.error when (@dialog-color-error) and (@dialog-colors) {
        border-color : @brand-error;

        .ui-dialog-titlebar {
            background : @brand-error;

            .ui-dialog-titlebar-close {
                &:hover {
                    color : darken(@brand-error, 15%)
                }
            }
        }
    }
    &.info when (@dialog-color-info) and (@dialog-colors) {
        border-color : @brand-info;

        .ui-dialog-titlebar {
            background : @brand-info;
        }
    }
}
//System dialog
.mass-actions-block-content {
    position  : fixed;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    max-width : 100%;
    margin    : 0 !important;
    padding   : 0;
    z-index   : 1000;
    
    &::before {
        content    : "";
        position   : fixed;
        left       : 0;
        right      : 0;
        top        : 0;
        bottom     : 0;
        background : rgba(0, 0, 0, 0.5);
    }
    
    > div {
        position         : absolute;
        top              : 50%;
        left             : 50%;
        height           : auto;
        width            : 600px;
        margin           : auto;
        max-width        : 90%;
        
        border           : @dialog-border-width solid @dialog-border-color;
        color            : inherit;
        background-color : @dialog-bg;
        .translate(-50%, -50%);
        .box-shadow(4px 4px 4px @gray-darker);
    }
}

.system-popup-header-block {
    display            : -ms-flexbox;
    display            : flex;
    -ms-flex-direction : row;
    flex-direction     : row;
    -ms-flex-wrap      : nowrap;
    flex-wrap          : nowrap;
    -ms-flex-pack      : justify;
    justify-content    : space-between;
    -ms-flex-align     : center;
    align-items        : center;
    
    padding            : @padding-large-vertical @padding-large-horizontal;
    line-height        : @line-height;
    font-size          : @font-size-large;
    color              : @dialog-header-color;
    background         : @dialog-header-bg;
    
    [class*="icon-"] {
        cursor : pointer;
        .transition(opacity);
        
        &:hover {
            color : @brand-error;
        }
    }
}

.system-popup-title {
    .text-overflow();
}

.system-popup-content-block {
    padding  : @padding-large-vertical @padding-large-horizontal;
    
    & when not(@dialog-content-bg = transparent) {
        background : @dialog-content-bg;
    }
    
    overflow : auto;
}

//Core-spinner
@keyframes rotate {
    0% {
        transform : rotate(0deg)
    }
    100% {
        transform : rotate(360deg)
    }
}

//
.system-spinner {
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    bottom   : 0;
    right    : 0;
    width    : auto;
    margin   : 0;
    z-index  : 11;
    .rgba(#fff, 85%);
    
    &::before {
        margin           : auto;
        content          : "";
        display          : block;
        border           : 5px solid #c1eaff;
        border-top-color : #3399CC;
        position         : absolute;
        left             : 0;
        right            : 0;
        bottom           : 0;
        top              : 0;
        .border-radius(50%);
    }
    
    &::before {
        animation : rotate 1.85s linear infinite;
        width     : 4.75em;
        height    : 4.75em;
    }
}

.system-spinner-block {
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    bottom   : 0;
    right    : 0;
    width    : auto;
    margin   : 0;
    z-index  : 11;
    .rgba(#fff, 85%);
    
    #payment-zone &{
        width: 100%;
    }
}

.system-spinner-with-text {
    position   : absolute;
    top        : 50%;
    left       : 50%;
    bottom     : auto;
    right      : auto;
    text-align : center;
    transform  : translate(-50%, -50%);
    background : transparent;
    
    &.system-spinner {
        &::before {
            position : static;
            margin   : 0 auto 1em;
        }
    }
    
    p {
        font-size : 1.5rem;
    }
}