// Coockie popup
//==================================================
#cookie-info when (@cookie_popup = true) {
	z-index    : 111;
	position   : fixed;
	bottom     : 2em;
	right      : 2em;
	display    : none;
	width      : 350px;
	padding    : 1em;
	text-align : left;
	overflow   : hidden;
	color      : #fff;
	background : @brand-primary;
	a {
		color           : #fff;
		text-decoration : underline;
		
		&:hover {
			text-decoration : none;
		}
	}
}