// ### Activate components ###

// [Navigation]
@menu-main   : true;
@menu-static : true;
@breadcrumbs : false;
    //
    @breadcrumbs-steps: false;

// [Mobile menu]
@mobile-menu     : true;
    // Attention! Type menu for mobile can be only one
    @mobile-menu-over  : true;
    @mobile-menu-under : false;
@mobile-dropdown : true;

// [Form]
@form : true;

// [Images]
@image-gallery : true;

// [Social elements]
// Style with social elements
@social-rss       : false;
@social-gbusiness     : true;
@social-twitter   : true;
@social-youtube   : true;
@social-linkedin  : true;
@social-facebook  : true;
@social-vkontakte : false;
@social-skype     : false;
@social-flicker   : false;
@social-pinterest : false;
@social-instagram : false;
@social-vimeo     : false;

@social-styles : true;
    @social-fields : false;
    @social-button : true;

// FIELD FORM
@form-labeled  : false;
    @form-labeled-icon   : true;
    @form-labeled-social : true;
        @form-labeled-social-rss       : @social-rss;
        @form-labeled-social-gplus     : @social-gbusiness;
        @form-labeled-social-twitter   : @social-twitter;
        @form-labeled-social-youtube   : @social-youtube;
        @form-labeled-social-linkedin  : @social-linkedin;
        @form-labeled-social-facebook  : @social-facebook;
        @form-labeled-social-skype     : @social-skype;
        @form-labeled-social-flicker   : @social-flicker;
        @form-labeled-social-pinterest : @social-pinterest;
        @form-labeled-social-vkontakte : @social-vkontakte;
        @form-labeled-social-instagram : @social-instagram;
        @form-labeled-social-vimeo     : @social-vimeo;
@form-input-label  : true;

// FORM CAPTCHA
@form-captcha : true;

// FORM COLOR
@form-colors : @colors;
    @form-color-success : @color-success;
    @form-color-warning : @color-warning;
    @form-color-error   : @color-error;
    @form-color-info    : @color-info;

// BUTTON TYPE
@button-types : true;
    @button-type-icon    : true;
        @button-type-icon-responsive : true;
    @button-type-link    : false;
    @button-type-outline : false;
    @button-type-block   : true;
    @button-type-group   : false;
    @button-type-caption : false;

@button-styles : true;
    @button-styles-rounded : true;
    @button-styles-circle  : true;

// BUTTON COLOR
@button-colors : @colors;
    @button-color-success     : @color-success;
    @button-color-warning     : @color-warning;
    @button-color-error       : @color-error;
    @button-color-info        : @color-info;
    @button-color-inverse     : @color-inverse;
    @button-color-transparent : true;

// Style for Button
@button-transition  : true;
@button-box-shadow  : true;

// [Separator style]
@separator-style : false;
    @separator-left   : true; // hr.left
    @separator-right  : true; // hr.right
    @separator-center : true; // hr.center
    @separator-circle : true; // hr.circle

// [Images style]
@images-style : false;
    @image-thumbnail     : false; // .img-thumbnail
    @image-circle        : false; // .img-circle
    @image-rounded       : false; // .img-rounded
    @image-leaflet-right : false; // .img-leaflet-right
    @image-leaflet-left  : false; // .img-leaflet-left

// [Block Quotes]
@blockquote-types : false;
    @blockquote-noquotes : false; // .noquotes
    @blockquote-onequote : false; // .onequote
    @blockquote-cloud    : false; // .cloud
        @blockquote-cloud-border : false; // .cloud with .border
        @blockquote-cloud-right  : false; // .cloud with .right
        @blockquote-cloud-left   : false; // .cloud with .left

// [Classes for list]
@lists-classes : true;
    @list-unstyled     : true;
    @list-inline       : false;
    @list-bordered     : false;
    @list-separated    : false;
    @list-arrow        : false;
    @list-count-sign   : false;
    @list-icon-sign    : false;
    @list-icon-line    : false;
    @list-testimonials : false;
    @list-bullet       : false;
    @list-tags         : false;
    @list-checkmark    : false;
    @list-step         : false;
    @list-striped      : false;

// [System Classes]
@system-classes : true;
    @text-centered : false;
    @text-left     : false;
    @text-center   : false;
    @text-right    : false;
    @text-justify  : false;
    @align-top     : false;
    @align-middle  : false;
    @align-bottom  : false;
    @ws-nowrap     : false;
    @ws-normal     : false;
    @ws-pre        : false;
    @text-light    : false;
    @text-normal   : false;
    @text-medium   : false;
    @text-bold     : false;
    @text-italic   : false;
    @lh-inherit    : false;
    @lh-small      : false;
    @lh-medium     : false;
    @lh-normal     : false;
    @lh-large      : false;
    @fl-left       : false;
    @fl-right      : false;
    @fl-none       : false;
    @scroll        : false;
    @wrap          : false;
    @overflow-none : false;
    @pointer       : false;
    @help          : false;
// [Tooltips Native (css only)]
@tooltips-native : false;
    @tooltip-native-colors : @colors;
        @tooltip-native-color-success : @color-success;
        @tooltip-native-color-warning : @color-warning;
        @tooltip-native-color-error   : @color-error;
        @tooltip-native-color-info    : @color-info;

// [Badges]
@badges : false;
    @badge-colors : @colors;
        @badge-success : @color-success;
        @badge-warning : @color-warning;
        @badge-error   : @color-error;
        @badge-info    : @color-info;
        @badge-inverse : @color-inverse;

    @badges-type : true;
        @badge-circle        : true;
        @badge-rounded       : true;
        @badge-leaflet-right : true;
        @badge-leaflet-left  : true;

// [Panels]
@panels : false;
    @panel-colors : @colors;
        @panel-success : @color-success;
        @panel-warning : @color-warning;
        @panel-error   : @color-error;
        @panel-info    : @color-info;
        @panel-gray    : true;
    @panel-types : true;
        @panel-collapse : true;

// [Tables]
@table-styles : true; // .table-bordered, .table-striped, .table-hover
    @table-bordered : true; // .table-bordered
    @table-striped  : true; // .table-striped
    @table-hover    : true; // .table-hover
    @table-colors   : @colors;
        @table-success : @color-success;
        @table-warning : @color-warning;
        @table-error   : @color-error;
        @table-info    : @color-info;

// [Message]
@messages : false;
    @message-colors : @colors;
        @message-color-success : @color-success;
        @message-color-warning : @color-warning;
        @message-color-error   : @color-error;
        @message-color-info    : @color-info;
        @message-color-gray    : true;
    @message-right : true;

// [Callout]
@callouts : false;
    @callout-colors : @colors;
        @callout-color-success : @color-success;
        @callout-color-warning : @color-warning;
        @callout-color-error   : @color-error;
        @callout-color-info    : @color-info;
        @callout-color-gray    : true;

// [Style for Checkbox and Radio]
@checkbox-radio-style : true;
    @checkbox-radio-style-native : false; // work with -webkit- only
    @switcher-style              : true;
    @checkbox-checkmark-style    : false;
    @shipping-checkmark-style    : true;
    @checkbox-checkmark-windows8 : false;

// [Feature styles]
// Lists
@time-line : false;
// News
@news-list-timeLine : false;
// Main Menu
@widget-menu-main-fullWidth : false;
//Content
@text-with-middle-line : false;
//Mobile
@responsive-ratio : true;
    @responsive-video : true;
    @responsive-image : true;
@mobile-loader    : true;
// [Activate effects styles]
@grayscale : false;
@blur : false;
// custom scroll bar
@custom-scroll-bar: true;
// Parallax
@parallax : false;
// CSS Popup
@popup : false;
// Cookie Popup
@cookie_popup : false;